extends layout
block content

  .flex-container-header
    .flex-item-head 
        .container-fluid
          img(class='brand' alt='Brand', src='images/dubo.jpg')
  
  .flex-container-content
    ul 
    li
      form(action='/create' method='post')
        input(type='text', name='task', placeholder='GET STUFF DONE' )
        button.btn.btn-primary(type='submit') Submit
    each thing in allTasks
      li
        form(action=`/deleteTask/${thing.id}` method='delete')
          button.btn.btn-danger(type='submit') DELETE
        p #{thing.title}
        
        form(action=`/edit/${thing.id}` method='post')
          input(type='text' name='task' placeholder='EDIT')
          button.btn.btn-secondary(type='submit') EDIT 
