extends layout
block content

  .flex-container-header
    .flex-item-head 
        .container-fluid
          img(class='brand' alt='Brand', src='images/dubo.jpg')
  
  .flex-container-content
    ul 
    each thing in allTasks
      li
        form(action='/create' method='post')
          input(type='text', name='task', placeholder='GET STUFF DONE' )
          button.btn.btn-primary(type='submit') Submit
          button.btn.btn-danger(type='button') DELETE
