extends layout

block content

  .flex-container-header
    .flex-item-head 
        .container-fluid
          img(class='brand' alt='Brand', src='images/dubo.jpg')
  
  .flex-container-content
    ul 
      each todo in todolist
        button.btn.btn-danger(type='button') DELETE
        form(action='post')
          input(type='text', name='task', placeholder='GET SHIT DONE')
          button.btn.btn-primary(type='button') Submit
            
        
        
        
        
        

        
