extends layout

block content

  .flex-container-header
    .flex-item-head 
        .container-fluid
          img(class='brand' alt='Brand', src='images/dubo.jpg')
  
  .flex-container-content
    each item in todolist   
      ul   
        button.btn.btn-danger(type='button') DELETE
        form(action='post')
          input(type='text', name='task', placeholder='GET SHIT DONE')
          
        
        
        
        
        

        
